:root {
  // ==========================================
  // Color Tokens
  // ==========================================
--color-text-brand-rest: {color.turquoise.800};
--color-text-brand-disabled: {color.neutral-depr.600};
--color-text-danger-rest: {color.brick.600};
--color-text-danger-disabled: {color.brick.150};
--color-text-success-rest: {color.jade.500-main};
--color-text-success-disabled: {color.jade.150};
--color-text-warning-rest: {color.merigold.400};
--color-text-warning-disabled: {color.merigold.200};
--color-text-primary-rest: {color.stone.850};
--color-text-primary-disabled: {color.stone.200};
--color-text-primary-inverse: {color.stone.25};
--color-text-primary-press: {color.stone.850};
--color-text-secondary-disabled: {color.stone.150};
--color-text-secondary-press: {color.stone.750};
--color-text-secondary-rest: {color.stone.500};
--color-text-secondary-inverse: {color.stone.25};
--color-text-brand-hover: {color.turquoise.500-main};
--color-text-brand-press: {color.turquoise.800};
--color-text-brand-focus: {color.turquoise.500-main};
--color-text-danger-hover: {color.brick.800};
--color-text-danger-press: {color.brick.850};
--color-text-success-hover: {color.jade.400};
--color-text-success-press: {color.jade.600};
--color-text-warning-hover: {color.merigold.500-main};
--color-text-danger-focus: {color.brick.750};
--color-text-success-focus: {color.jade.500-main};
--color-text-warning-press: {color.merigold.600};
--color-text-warning-focus: {color.merigold.400};
--color-text-primary-hover: {color.stone.850};
--color-text-primary-focus: {color.stone.850};
--color-text-secondary-hover: {color.stone.650};
--color-text-secondary-focus: {color.stone.500};
--color-text-info-rest: {color.turquoise.650};
--color-text-info-hover: {color.turquoise.500-main};
--color-text-info-press: {color.turquoise.700};
--color-text-info-focus: {color.turquoise.500-main};
--color-text-info-disabled: {color.turquoise.200};
--color-text-note-rest: {color.grape.400};
--color-text-note-hover: {color.grape.500-main};
--color-text-note-press: {color.grape.600};
--color-text-note-focus: {color.grape.400};
--color-text-note-disabled: {color.grape.200};
--color-text-neutrallight-rest: {color.stone.25};
--color-text-neutraldark-rest: {color.stone.950};
--color-fill-brand-rest: {color.turquoise.800};
--color-fill-brand-hover: {color.turquoise.500-main};
--color-fill-brand-press: {color.turquoise.850};
--color-fill-brand-disabled: {color.stone.100};
--color-fill-brand-pale-rest: {color.stone.25};
--color-fill-brand-pale-hover: {color.turquoise.100};
--color-fill-brand-pale-press: {color.turquoise.150};
--color-fill-brand-pale-disabled: {color.turquoise.50};
--color-fill-neutral-rest: {color.stone.00 white};
--color-fill-neutral-hover: {color.stone.25};
--color-fill-neutral-press: {color.stone.50};
--color-fill-neutral-disabled: {color.stone.25};
--color-fill-black-rest: {color.stone.950};
--color-fill-grey-rest: {color.stone.25};
--color-fill-grey-hover: {color.stone.50};
--color-fill-grey-press: {color.stone.100};
--color-fill-grey-disabled: {color.stone.25};
--color-fill-danger-rest: {color.brick.500-main};
--color-fill-danger-hover: {color.brick.400};
--color-fill-danger-press: {color.brick.600};
--color-fill-danger-disabled: {color.brick.100};
--color-fill-danger-pale-rest: {color.brick.25};
--color-fill-danger-pale-hover: {color.brick.50};
--color-fill-danger-pale-press: {color.brick.150};
--color-fill-danger-pale-disabled: {color.brick.25};
--color-fill-brand-focus: {color.turquoise.800};
--color-fill-brand-pale-focus: {color.turquoise.50};
--color-fill-neutral-focus: {color.stone.25};
--color-fill-grey-focus: {color.stone.25};
--color-fill-danger-focus: {color.brick.500-main};
--color-fill-danger-pale-focus: {color.brick.25};
--color-fill-warning-rest: {color.merigold.500-main};
--color-fill-warning-hover: {color.merigold.400};
--color-fill-warning-press: {color.merigold.600};
--color-fill-warning-focus: {color.merigold.500-main};
--color-fill-warning-disabled: {color.merigold.200};
--color-fill-warning-pale-rest: {color.merigold.50};
--color-fill-warning-pale-hover: {color.merigold.100};
--color-fill-warning-pale-press: {color.merigold.150};
--color-fill-warning-pale-focus: {color.merigold.50};
--color-fill-warning-pale-disabled: {color.merigold.50};
--color-fill-info-rest: {color.cerulean.500-main};
--color-fill-info-hover: {color.cerulean.300};
--color-fill-info-press: {color.cerulean.700};
--color-fill-info-focus: {color.cerulean.500-main};
--color-fill-info-disabled: {color.cerulean.150};
--color-fill-info-pale-rest: {color.cerulean.25};
--color-fill-info-pale-hover: {color.cerulean.50};
--color-fill-info-pale-press: {color.cerulean.100};
--color-fill-info-pale-focus: {color.cerulean.25};
--color-fill-info-pale-disabled: {color.cerulean.25};
--color-fill-success-rest: {color.jade.500-main};
--color-fill-success-hover: {color.jade.400};
--color-fill-success-press: {color.jade.600};
--color-fill-success-focus: {color.jade.500-main};
--color-fill-success-disabled: {color.fill.neutral-disabled};
--color-fill-success-pale-rest: {color.jade.50};
--color-fill-success-pale-hover: {color.jade.400};
--color-fill-success-pale-press: {color.jade.500-main};
--color-fill-success-pale-focus: {color.jade.300};
--color-fill-success-pale-disabled: {color.fill.neutral-disabled};
--color-fill-note-rest: {color.grape.400};
--color-fill-note-hover: {color.grape.500-main};
--color-fill-note-press: {color.grape.600};
--color-fill-note-focus: {color.grape.400};
--color-fill-note-disabled: {color.grape.200};
--color-fill-note-pale-rest: {color.grape.50};
--color-fill-note-pale-hover: {color.grape.100};
--color-fill-note-pale-press: {color.grape.150};
--color-fill-note-pale-focus: {color.grape.50};
--color-fill-note-pale-disabled: {color.grape.50};
--color-fill-transparent-rest: {color.stone.transparent};
--color-surface-canvas-rest: {color.stone.50};
--color-surface-primary-rest: {color.stone.25};
--color-surface-primary-hover: {color.stone.50};
--color-surface-primary-press: {color.stone.100};
--color-surface-primary-focus: {color.stone.25};
--color-surface-primary-disabled: {color.stone.50};
--color-surface-secondary-rest: {color.stone.50};
--color-surface-secondary-hover: {color.stone.100};
--color-surface-secondary-press: {color.stone.150};
--color-surface-secondary-focus: {color.stone.50};
--color-surface-secondary-disabled: {color.stone.50};
--color-border-brand-rest: {color.turquoise.800};
--color-border-brand-hover: {color.turquoise.600};
--color-border-brand-press: {color.turquoise.650};
--color-border-brand-focus: {color.turquoise.50};
--color-border-brand-disabled: {color.stone.250};
--color-border-danger-rest: {color.brick.750};
--color-border-danger-hover: {color.brick.800};
--color-border-danger-press: {color.brick.850};
--color-border-danger-focus: {color.brick.50};
--color-border-danger-disabled: {color.brick.600};
--color-border-warning-rest: {color.merigold.400};
--color-border-warning-hover: {color.merigold.500-main};
--color-border-warning-press: {color.merigold.600};
--color-border-warning-focus: {color.merigold.100};
--color-border-warning-disabled: {color.merigold.200};
--color-border-info-rest: {color.cerulean.500-main};
--color-border-info-hover: {color.cerulean.650};
--color-border-info-press: {color.cerulean.800};
--color-border-info-focus: {color.cerulean.500-main};
--color-border-info-disabled: {color.cerulean.150};
--color-border-success-rest: {color.jade.500-main};
--color-border-success-hover: {color.jade.600};
--color-border-success-press: {color.jade.700};
--color-border-success-focus: {color.jade.500-main};
--color-border-success-disabled: {color.jade.50};
--color-border-primary-rest: {color.stone.100};
--color-border-primary-hover: {color.stone.150};
--color-border-primary-press: {color.stone.200};
--color-border-primary-focus: {color.stone.100};
--color-border-primary-disabled: {color.stone.50};
--color-border-note-rest: {color.grape.400};
--color-border-note-hover: {color.grape.500-main};
--color-border-note-press: {color.grape.600};
--color-border-note-focus: {color.grape.400};
--color-border-note-disabled: {color.grape.200};
--color-border-transparent: {color.stone.transparent};
--color-border-primary-inverse: {color.stone.25};
--color-icon-brand-rest: {color.turquoise.800};
--color-icon-brand-hover: {color.turquoise.500-main};
--color-icon-brand-press: {color.turquoise.800};
--color-icon-brand-focus: {color.turquoise.500-main};
--color-icon-brand-disabled: {color.stone.250};
--color-icon-danger-rest: {color.brick.600};
--color-icon-danger-hover: {color.brick.800};
--color-icon-danger-press: {color.brick.850};
--color-icon-danger-focus: {color.brick.750};
--color-icon-danger-disabled: {color.brick.150};
--color-icon-warning-rest: {color.merigold.400};
--color-icon-warning-hover: {color.merigold.500-main};
--color-icon-warning-press: {color.merigold.600};
--color-icon-warning-focus: {color.merigold.400};
--color-icon-warning-disabled: {color.merigold.200};
--color-icon-success-rest: {color.jade.500-main};
--color-icon-success-hover: {color.jade.400};
--color-icon-success-press: {color.jade.600};
--color-icon-success-focus: {color.jade.750};
--color-icon-success-disabled: {color.jade.150};
--color-icon-info-rest: {color.cerulean.500-main};
--color-icon-info-hover: {color.sky-depr.600};
--color-icon-info-press: {color.cerulean.800};
--color-icon-info-focus: {color.cerulean.500-main};
--color-icon-info-disabled: {color.cerulean.150};
--color-icon-primary-rest: {color.stone.850};
--color-icon-primary-hover: {color.stone.850};
--color-icon-primary-press: {color.stone.850};
--color-icon-primary-focus: {color.stone.850};
--color-icon-primary-disabled: {color.stone.200};
--color-icon-primary-inverse: {color.stone.25};
--color-icon-secondary-rest: {color.stone.500};
--color-icon-secondary-hover: {color.stone.650};
--color-icon-secondary-pressed: {color.stone.750};
--color-icon-secondary-focus: {color.stone.500};
--color-icon-secondary-disabled: {color.stone.150};
--color-icon-secondary-inverse: {color.stone.25};
--color-icon-note-rest: {color.grape.400};
--color-icon-note-hover: {color.grape.500-main};
--color-icon-note-press: {color.grape.600};
--color-icon-note-focus: {color.grape.400};
--color-icon-note-disabled: {color.grape.200};
--color-icon-neutral-rest: {color.stone.00 white};
--color-data-green-primary: {color.jade.500-main};
--color-data-green-secondary: {color.jade.50};
--color-data-blue-primary: {color.cerulean.500-main};
--color-data-blue-secondary: {color.cerulean.50};
--color-data-purple-primary: {color.violet.500-main};
--color-data-purple-secondary: {color.violet.50};
--color-data-orange-primary: {color.marmalade.500-main};
--color-data-orange-secondary: {color.marmalade.50};
--color-data-red-primary: {color.brick.500-main};
--color-data-red-secondary: {color.brick.50};
--color-data-yellow-primary: {color.lemon.500-main};
--color-data-yellow-secondary: {color.lemon.50};
--color-data-grey-primary: {color.stone.500};
--color-data-grey-secondary: {color.stone.50};
--color-data-pink-primary: {color.rose.500-main};
--color-data-pink-secondary: {color.rose.50};
--color-data-brand-primary: {color.turquoise.500-main};
--color-data-brand-secondary: {color.turquoise.50};
--color-data-brand-primary-transparent: #09968c00;
--color-overlay-dark: {overlay.green};
--color-overlay-white: {overlay.light};
--color-effect-focused-brand: {color.turquoise.100};
--color-effect-focused-neutral: {color.stone.50};
--color-effect-focused-danger: {color.brick.400};
--color-effect-shadow-maincard-01: {effect.dropshadow.maincard-01};
--color-effect-shadow-maincard-02: {effect.dropshadow.maincard-02};
--color-effect-shadow-small-01: {effect.dropshadow.small-01};
--color-effect-shadow-small-02: {effect.dropshadow.small-02};
--color-effect-shadow-medium-01: {effect.dropshadow.medium-02};
--color-effect-shadow-medium-02: {effect.dropshadow.medium-02};
--color-effect-shadow-large-01: {effect.dropshadow.large-01};
--color-effect-shadow-large-02: {effect.dropshadow.large-02};
--color-illustration-black-01: {color.turquoise.850};
--color-illustration-brand-01: {color.stone.25};
--color-illustration-white: {color.neutral-depr.25};
--color-illustration-grey-01: {color.neutral-depr.150};
--color-illustration-brand-02: {color.turquoise.50};
--color-illustration-brand-03: {color.turquoise.100};
--color-illustration-brand-04: {color.turquoise.650};
--color-illustration-brand-05: {color.turquoise.200};
--color-illustration-brand-06: {color.turquoise.250};
--color-illustration-green-01: {color.jade.750};
--color-illustration-grey-02: {color.neutral-depr.300};
--color-illustration-red: {color.brick.750};
--color-illustration-brand-07: {color.turquoise.300};
--color-illustration-brand-08: {color.turquoise.500-main};
--color-illustration-black-02: {color.neutral-depr.600};
--color-illustration-brand-09: {color.turquoise.600};
--color-illustration-green-02: {color.jade.500-main};
--color-illustration-merigold-02: {color.merigold.200};
--color-illustration-merigold-03: {color.merigold.400};
--color-illustration-merigold-04: {color.merigold.600};
--color-illustration-merigold-01: {color.merigold.50};
--color-illustration-babyblue-03: {color.cerulean.100};
--color-illustration-babyblue-02: {color.cerulean.50};
--color-illustration-babyblue-01: {color.cerulean.25};
--color-illustration-orangepeel-01: #fef9f0;
--color-illustration-orangepeel-02: #fcd39d;
--color-illustration-orangepeel-03: #ff8900;
--color-illustration-orangepeel-04: #cc7400;
--color-illustration-grey-03: {color.neutral-depr.800};
--color-illustration-brand-overlay: #31b0a766;
--color-illustration-green-03: #e6f9f0;
--color-illustration-stone-tier-01: #e2e4e5;
--color-illustration-stone-tier-02: #4c4d4e;
--color-logo-evyd: {logo.evyd};

  // ==========================================
  // Component - Badge
  // ==========================================
--comp-badge-surface-brand: {color.fill.brand-pale-rest};
--comp-badge-icon-surface-brand: {color.icon.brand-rest};
--comp-badge-text-brand: {color.stone.25};
--comp-badge-text-rest: {color.stone.800};
--comp-badge-text-success: {color.stone.25};
--comp-badge-text-warning: {color.stone.25};
--comp-badge-text-danger: {color.stone.25};
--comp-badge-text-radius: {base.radius.pill};
--comp-badge-text-gap: {base.gap.size-5};
--comp-badge-text-h-padding-s: {base.padding.size-4};
--comp-badge-text-h-padding-m: {base.padding.size-4};
--comp-badge-text-h-padding-l: {base.padding.size-4};
--comp-badge-text-v-padding-s: {base.padding.size-1};
--comp-badge-text-v-padding-m: {base.padding.size-1};
--comp-badge-text-v-padding-l: {base.padding.size-2};
--comp-badge-icon-surface-line: {color.stone.800};
--comp-badge-border-line: #dae3df;
--comp-badge-surface-success: {color.turquoise.650};
--comp-badge-surface-warning: {color.turquoise.650};
--comp-badge-surface-danger: {color.turquoise.650};

  // ==========================================
  // Component - Button
  // ==========================================
--comp-button-main-text-color-fill-sec: {color.turquoise.650};
--comp-button-main-sec-text-disabled: {color.stone.200};
--comp-button-main-fill-rest-sec: {color.stone.25};
--comp-button-main-sec-border-pressed: {color.turquoise.700};
--comp-button-main-fill-pri-disabled: {color.neutral-depr.200};
--comp-button-main-text-color-fill-pri-disabled: {color.stone.250};
--comp-button-main-icon-fill-pri-disabled: {color.neutral-depr.400};
--comp-button-main-fill-pri-hover: {color.turquoise.300};
--comp-button-main-info-fill-press: {color.neutral-depr.25};
--comp-button-main-info-fill-disabled: {color.neutral-depr.25};
--comp-button-main-info-text-disabled: {color.neutral-depr.25};
--comp-button-main-info-icon-disabled: {color.neutral-depr.25};
--comp-button-main-danger-fill-hover: {color.neutral-depr.25};
--comp-button-main-danger-border-focus: {color.neutral-depr.25};
--comp-button-main-danger-fill-press: {color.neutral-depr.25};
--comp-button-main-danger-fill-disabled: {color.neutral-depr.25};
--comp-button-main-danger-text-disabled: {color.neutral-depr.25};
--comp-button-main-danger-icon-disabled: {color.neutral-depr.25};
--comp-button-main-ghost-fill-press: {color.neutral-depr.25};
--comp-button-main-text-color-fill-pri: {color.stone.25};
--comp-button-main-icon-color-fill-pri-rest: {color.stone.25};
--comp-button-main-color-stroke-pri-focused: {color.turquoise.100};
--comp-button-main-fill-pri-focused: {color.turquoise.500-main};
--comp-button-main-fill-pri-pressed: {color.turquoise.850};
--comp-button-main-text-color-fill-sec-disabled: {color.stone.200};
--comp-button-main-fill-hover-sec: {color.stone.50};
--comp-button-main-fill-focused-sec: {color.stone.25};
--comp-button-main-fill-disabled-sec: {color.stone.25};
--comp-button-main-fill-pressed-sec: {color.stone.25};
--comp-button-main-radius: {base.radius.pill};
--comp-button-main-gap: {base.gap.size-3};
--comp-button-main-h-padding-s: {base.padding.size-7};
--comp-button-main-v-padding-s: {base.padding.size-2};
--comp-button-main-h-padding-m: {base.padding.size-7};
--comp-button-main-v-padding-m: {base.padding.size-4};
--comp-button-main-h-padding-l: {base.padding.size-9};
--comp-button-main-h-padding-xl: {base.padding.size-11};
--comp-button-main-v-padding-l: {base.padding.size-6};
--comp-button-main-v-padding-xl: {base.padding.size-7};
--comp-button-option-fill-unselected: {color.fill.neutral-rest};
--comp-button-option-fill-selected: {color.turquoise.25};
--comp-button-option-fill-hover: {color.fill.neutral-hover};
--comp-button-option-fill-pressed: {color.fill.neutral-press};
--comp-button-option-fill-disabled: {color.fill.neutral-disabled};
--comp-button-option-text-rest: {color.text.primary-rest};
--comp-button-option-text-disabled: {color.text.primary-disabled};
--comp-button-option-text-selected: {color.turquoise.650};
--comp-button-option-border-unselected: {color.neutral-depr.50};
--comp-button-option-border-selected: {color.turquoise.650};
--comp-button-option-h-padding: {base.gap.size-7};
--comp-button-option-v-padding: {base.padding.size-6};
--comp-button-option-gap: {base.padding.size-4};
--comp-button-card-fill-rest: {color.turquoise.25};
--comp-button-card-fill-selected: {color.turquoise.50};
--comp-button-card-border-rest: {color.border.primary-rest};
--comp-button-card-border-selected: {color.stone.transparent};
--comp-button-card-text-rest: {color.stone.850};
--comp-button-card-text-selected: {color.turquoise.650};
--comp-button-card-h-padding: {base.gap.size-7};
--comp-button-card-v-padding: {base.gap.size-9};
--comp-button-card-gap: {base.gap.size-5};
--comp-button-card-radius: {base.radius.size-5};
--comp-button-segmented-border: {color.stone.100};
--comp-button-segmented-background: {color.stone.transparent};
--comp-button-segmented-v-padding: 0;
--comp-button-segmented-h-padding: 0;
--comp-button-segmented-radius: {base.radius.pill};
--comp-button-segmented-gap: {base.gap.size-3};

  // ==========================================
  // Component - Toast
  // ==========================================
--comp-toast-bg-main: {color.stone.800};
--comp-toast-bg-error: {color.brick.100};
--comp-toast-bg-warning: {color.merigold.100};
--comp-toast-bg-info: {color.sky-depr.100};
--comp-toast-radius: {base.radius.size-3};
--comp-toast-h-padding-l: {base.padding.size-4};
--comp-toast-v-padding: {base.padding.size-2};
--comp-toast-h-padding-r: {base.padding.size-4};
--comp-toast-gap: {base.radius.size-5};
--comp-toast-title-gap: {base.radius.none};
--comp-toast-icon-gap: {base.radius.size-2};

  // ==========================================
  // Component - Avatar
  // ==========================================
--comp-avatar-bg: {color.turquoise.25};
--comp-avatar-initial: {color.turquoise.800};
--comp-avatar-icon: {color.turquoise.800};
--comp-avatar-border: {color.stone.100};
--comp-avatar-radius: {base.radius.pill};

  // ==========================================
  // Component - Indicator
  // ==========================================
--comp-indicator-dot-brand-unselected: {color.stone.200};
--comp-indicator-dot-dark-unselected: {color.stone.50};
--comp-indicator-pill-brand-unselected: {color.stone.200};
--comp-indicator-pill-dark-unselected: {color.stone.50};
--comp-indicator-group-brand-bg: #ffffff00;
--comp-indicator-group-dark-bg: #ffffff00;
--comp-indicator-radius: {base.radius.pill};
--comp-indicator-dot-width: {base.width.size-2};
--comp-indicator-pill-width: {base.width.size-4a};
--comp-indicator-group-gap: {base.gap.size-5};
--comp-indicator-group-h-padding: {base.padding.none};
--comp-indicator-group-v-padding: {base.padding.none};

  // ==========================================
  // Component - Calendar
  // ==========================================
--comp-calendar-date-header: {color.jade.850};
--comp-calendar-date-text-default: {color.jade.850};
--comp-calendar-date-bg-disabled: {color.stone.25};
--comp-calendar-date-year-text-default: {color.jade.850};
--comp-calendar-date-selected-radius: {base.radius.size-3};
--comp-calendar-date-startdate-radius: {base.radius.size-3};
--comp-calendar-date-enddate-radius: {base.radius.size-3};
--comp-calendar-date-selected-width: {base.width.size-7};
--comp-calendar-date-selected-height: {base.height.size-7};
--comp-calendar-date-startdate-width: {base.width.size-7};
--comp-calendar-date-startdate-height: {base.height.size-7};
--comp-calendar-date-selected-h-padding: {base.padding.size-4};
--comp-calendar-date-selected-v-padding: {base.padding.size-4};
--comp-calendar-date-hover-radius: {base.radius.size-3};
--comp-calendar-date-press-radius: {base.radius.size-3};
--comp-calendar-date-default-v-padding: {base.padding.size-4};
--comp-calendar-date-default-width: {base.width.size-7};
--comp-calendar-date-default-height: {base.height.size-7};
--comp-calendar-date-default-h-padding: {base.padding.size-4};
--comp-calendar-date-startdate-h-padding: {base.padding.size-4};
--comp-calendar-date-startdate-v-padding: {base.padding.size-4};
--comp-calendar-date-enddate-width: {base.width.size-7};
--comp-calendar-date-enddate-height: {base.height.size-7};
--comp-calendar-date-enddate-h-padding: {base.padding.size-4};
--comp-calendar-date-enddate-v-padding: {base.padding.size-4};
--comp-calendar-date-default-radius: {base.radius.size-3};
--comp-calendar-date-container-padding: {base.padding.size-4};
--comp-calendar-date-status-background-completed: {color.jade.800};
--comp-calendar-date-status-icon-completed: {color.stone.25};
--comp-calendar-date-status-background-today: {color.turquoise.600};
--comp-calendar-date-status-text-today: {color.stone.25};
--comp-calendar-date-status-background-incomplete: {color.stone.200};
--comp-calendar-date-status-text-incomplete: {color.stone.25};
--comp-calendar-date-status-radius: {base.radius.size-3};
--comp-calendar-date-label-background-today: {color.stone.100};
--comp-calendar-date-label-border-today: {color.stone.200};
--comp-calendar-date-label-text-color: {color.turquoise.650};
--comp-calendar-date-label-bar-color: {color.stone.100};
--comp-calendar-date-label-radius: {base.radius.size-3};
--comp-calendar-date-label-gap: {base.radius.size-3};
--comp-calendar-dtx-calendar-background: {color.turquoise.25};
--comp-calendar-dtx-calendar-border: {color.stone.100};
--comp-calendar-dtx-calendar-banner-background: {color.stone.25};
--comp-calendar-dtx-calendar-text: {color.stone.00 white};
--comp-calendar-dtx-calendar-icon: {color.stone.25};
--comp-calendar-dtx-calendar-radius: {base.radius.size-5};
--comp-calendar-dtx-calendar-v-padding-top: {base.radius.size-3};
--comp-calendar-date range-v-padding: {base.padding.size-4};
--comp-calendar-date range-h-padding: {base.padding.size-4};
--comp-calendar-date range-v-padding-alt: {base.padding.size-5};
--comp-calendar-date range-h-padding-alt: {base.padding.size-5};
--comp-calendar-button-h-gap: {base.gap.size-4};
--comp-calendar-button-v-gap: {base.gap.size-4};

  // ==========================================
  // Component - Dropdown
  // ==========================================
--comp-dropdown-dropdownlist-fill-rest: {color.fill.neutral-rest};
--comp-dropdown-dropdownlist-fill-hover: {color.turquoise.25};
--comp-dropdown-dropdownlist-fill-pressed: {color.turquoise.50};
--comp-dropdown-dropdownlist-fill-disabled: {color.surface.primary-disabled};
--comp-dropdown-dropdownlist-border: {color.turquoise.650};
--comp-dropdown-dropdownlist-text-rest: {color.stone.800};
--comp-dropdown-dropdownlist-icon-rest: {color.turquoise.650};
--comp-dropdown-dropdownlist-v-padding: {base.gap.size-9};
--comp-dropdown-dropdownlist-h-padding: {base.gap.size-7};
--comp-dropdown-dropdownlist-radius: {base.radius.size-5};
--comp-dropdown-dropdown-fill-rest: {color.turquoise.25};
--comp-dropdown-dropdown-border: {color.turquoise.150};
--comp-dropdown-dropdown-fill-hover: {color.turquoise.50};
--comp-dropdown-dropdown-fill-disabled: {color.turquoise.25};
--comp-dropdown-dropdown-text-rest: {color.stone.800};
--comp-dropdown-dropdown-icon-rest: {color.turquoise.650};
--comp-dropdown-dropdown-radius: {base.radius.size-3};
--comp-dropdown-dropdown-gap: {base.gap.size-5};
--comp-dropdown-dropdown-h-padding: {base.padding.size-6};
--comp-dropdown-dropdown-v-padding-l: {base.padding.size-6};
--comp-dropdown-dropdown-v-padding-m: {base.padding.size-4};
--comp-dropdown-dropdown-v-padding-s: {base.padding.size-2};
--comp-dropdown-dropdowninfo-fill-rest: {color.turquoise.25};
--comp-dropdown-dropdowninfo-text-secondary: {color.stone.800};
--comp-dropdown-dropdowninfo-radius: {base.radius.size-5};
--comp-dropdown-dropdowninfo-v-padding: {base.padding.size-6};
--comp-dropdown-dropdowninfo-h-padding: {base.padding.size-7};

  // ==========================================
  // Component - Tab
  // ==========================================
--comp-tab-bgcolor-selected: {color.turquoise.600};
--comp-tab-bgcolor-unselected: {color.stone.transparent};
--comp-tab-text-selected: {color.stone.00 white};
--comp-tab-text-unselected: {color.turquoise.600};
--comp-tab-border-unselected: {color.turquoise.600};
--comp-tab-radius: {base.radius.size-3};
--comp-tab-h-padding: {base.radius.size-3};
--comp-tab-v-padding: {base.radius.size-3};

  // ==========================================
  // Component - Label
  // ==========================================
--comp-label-fill-brand-bold: {color.turquoise.650};
--comp-label-fill-brand-light: {color.turquoise.50};
--comp-label-text-brand-light: {color.turquoise.650};
--comp-label-text-brand-bold: {color.turquoise.50};
--comp-label-icon-brand-bold: {color.turquoise.50};
--comp-label-icon-brand-light: {color.turquoise.650};
--comp-label-border: {color.turquoise.50};
--comp-label-radius: {base.radius.size-2};
--comp-label-h-padding-l: {base.radius.size-3};
--comp-label-v-padding-l: {base.radius.size-3};
--comp-label-h-padding-m: {base.radius.size-3};
--comp-label-v-padding-m: {base.radius.size-3};
--comp-label-h-padding-s: {base.radius.size-3};
--comp-label-v-padding-s: {base.radius.size-3};

  // ==========================================
  // Component - Ruler
  // ==========================================
--comp-ruler-long: {color.turquoise.650};
--comp-ruler-text: {color.turquoise.650};
--comp-ruler-short: {color.stone.250};
--comp-ruler-radius: {base.radius.size-1};

  // ==========================================
  // Component - Menu
  // ==========================================
--comp-menu-bar-icon-rest: {color.stone.500};
--comp-menu-bar-text-active: {color.stone.750};
--comp-menu-bar-icon-active: {color.turquoise.850};
--comp-menu-bar-text-rest: {color.stone.500};
--comp-menu-bar-gap: {base.radius.size-2};
--comp-menu-bar-h-padding-top: {base.padding.size-7};
--comp-menu-bar-v-padding: {base.padding.size-9};
--comp-menu-bar-h-padding-bottom: {base.padding.size-7};
--comp-menu-bar-radius: {base.radius.none};

  // ==========================================
  // Component - Otp
  // ==========================================
--comp-otp-text-rest: {color.turquoise.650};
--comp-otp-border-rest: {color.stone.100};
--comp-otp-border-focus: {color.turquoise.100};
--comp-otp-text-disabled: {color.stone.250};
--comp-otp-border-disabled: {color.turquoise.50};
--comp-otp-text-danger: {color.brick.650};
--comp-otp-border-danger: {color.brick.750};
--comp-otp-text-success: {color.stone.800};
--comp-otp-border-success: {color.turquoise.650};
--comp-otp-border-empty: {color.stone.100};
--comp-otp-radius: {base.radius.size-3};
--comp-otp-gap: {base.gap.size-3};

  // ==========================================
  // Component - Banner
  // ==========================================
--comp-banner-fill-brand-bold: {color.turquoise.650};
--comp-banner-fill-brand-light: {color.turquoise.50};
--comp-banner-text-brand-bold: {color.turquoise.50};
--comp-banner-text-brand-light: {color.turquoise.650};
--comp-banner-icon-brand-bold: {color.turquoise.50};
--comp-banner-icon-brand-light: {color.turquoise.650};
--comp-banner-border: {color.turquoise.50};
--comp-banner-radius: {base.radius.size-3};
--comp-banner-h-padding-l: {base.radius.size-4};
--comp-banner-v-padding-l: {base.radius.size-4};
--comp-banner-gap: {base.gap.size-5};

  // ==========================================
  // Component - Section
  // ==========================================
--comp-section-text-secondary: {color.turquoise.600};
--comp-section-icon: {color.turquoise.600};

  // ==========================================
  // Component - Scroll
  // ==========================================
--comp-scroll-bar-indicator: {color.stone.200};
--comp-scroll-bar-container: {color.stone.50};
--comp-scroll-bar-h-padding: {base.padding.size-6};
--comp-scroll-bar-container-radius: {base.radius.pill};
--comp-scroll-bar-indicator-radius: {base.radius.pill};

  // ==========================================
  // Component - Timer
  // ==========================================
--comp-timer-text-primary: {color.stone.50};
--comp-timer-text-secondary: {color.stone.50};
--comp-timer-container: {color.turquoise.650};
--comp-timer-timerseparator-container: {color.stone.200};
--comp-timer-radius: {base.radius.size-3};
--comp-timer-v-padding: {base.padding.size-7};
--comp-timer-gap: {base.gap.size-3};
--comp-timer-timerseparator-gap: {base.radius.size-2};
--comp-timer-h-padding: {base.padding.size-4};

  // ==========================================
  // Component - Leaderboard
  // ==========================================
--comp-leaderboard-position-fill-color-1: {color.merigold.200};
--comp-leaderboard-position-fill-color-2: {color.stone.100};
--comp-leaderboard-position-fill-color-3: {color.merigold.600};
--comp-leaderboard-position-text: {color.text.primary-rest};
--comp-leaderboard-position-text-inverse: {color.text.neutrallight-rest};
--comp-leaderboard-position-radius: {base.radius.pill};
--comp-leaderboard-reaction-border: {color.stone.100};
--comp-leaderboard-reaction-text: {color.text.primary-rest};
--comp-leaderboard-reaction-bg: {color.stone.25};
--comp-leaderboard-reaction-icon: {color.icon.primary-rest};
--comp-leaderboard-reaction-radius: {base.radius.pill};
--comp-leaderboard-reaction-gap: {base.gap.size-3};
--comp-leaderboard-reaction-h-padding: {base.padding.size-4};
--comp-leaderboard-reaction-v-padding: {base.padding.size-1};
--comp-leaderboard-lb-header-text: {color.turquoise.650};
--comp-leaderboard-lb-header-bg: {color.turquoise.50};
--comp-leaderboard-lb-header-v-padding: {base.padding.size-4};
--comp-leaderboard-lb-header-h-padding: {base.padding.size-6};
--comp-leaderboard-lb-cell-text-primary: {color.text.primary-rest};
--comp-leaderboard-lb-cell-text-secondary: {color.text.secondary-rest};
--comp-leaderboard-lb-cell-text-brand: {color.turquoise.650};
--comp-leaderboard-lb-cell-bg-highlighted: {color.stone.50};
--comp-leaderboard-lb-cell-gap: {base.gap.size-5};
--comp-leaderboard-lb-cell-v-padding: {base.padding.size-6};
--comp-leaderboard-lb-cell-radius-highligted: {base.radius.size-3};

  // ==========================================
  // Component - Cell
  // ==========================================
--comp-cell-row-background: {color.jade.25};
--comp-cell-row-text: {color.turquoise.650};
--comp-cell-row-icon-leading: {color.turquoise.650};
--comp-cell-row-icon-trailing: {color.turquoise.650};
--comp-cell-row-text-secondary: {color.stone.750};
--comp-cell-row-cell-border: {color.turquoise.50};
--comp-cell-row-h-padding: {base.padding.size-7};
--comp-cell-row-v-padding: {base.padding.size-6};
--comp-cell-row-radius: {base.radius.size-5};
--comp-cell-row-gap: {base.gap.size-5};
--comp-cell-service-bg-vc: {color.violet.50};
--comp-cell-service-text-vc: {color.violet.800};
--comp-cell-service-icon-leading-vc: {color.violet.800};
--comp-cell-service-icon-trailing-vc: {color.stone.850};
--comp-cell-service-bg-va: {color.sea.100};
--comp-cell-service-text-va: {color.sea.500-main};
--comp-cell-service-icon-leading-va: {color.sea.500-main};
--comp-cell-service-icon-trailing-va: {color.stone.850};
--comp-cell-service-border-selected-vc: {color.violet.800};
--comp-cell-service-border-selected-va: {color.sea.500-main};
--comp-cell-service-radius: {base.radius.size-5};
--comp-cell-service-gap: {base.gap.size-5};
--comp-cell-service-h-padding: {base.padding.size-7};
--comp-cell-service-v-padding: {base.padding.size-7};

  // ==========================================
  // Component - Card
  // ==========================================
--comp-card-report-background: {color.jade.25};
--comp-card-report-border: {color.stone.100};
--comp-card-report-radius: {base.radius.size-5};
--comp-card-report-gap: {base.gap.size-5};
--comp-card-report-v-padding: {base.padding.size-9};
--comp-card-report-h-padding: {base.padding.size-7};
--comp-card-indicator-background: {color.turquoise.25};
--comp-card-indicator-border: {color.stone.100};
--comp-card-indicator-radius: {base.radius.size-5};
--comp-card-indicator-v-padding: {base.padding.size-7};
--comp-card-indicator-h-padding: {base.padding.size-7};
--comp-card-indicator-gap: {base.gap.size-9};
--comp-card-course-background: {color.jade.25};
--comp-card-percentage-background: {color.jade.25};
--comp-card-average-weekly-background: {color.jade.25};
--comp-card-medicine-background: {color.jade.25};
--comp-card-medicine-button-size: Medium;

  // ==========================================
  // Component - Tracker
  // ==========================================
--comp-tracker-tabmenu-bgcolor-selected: {color.turquoise.600};
--comp-tracker-tabmenu-bgcolor-unselected: #ffffff00;
--comp-tracker-tabmenu-text-selected: {color.neutral-depr.50};
--comp-tracker-tabmenu-text-unselected: {color.turquoise.600};
--comp-tracker-tabmenu-border-unselected: {color.turquoise.600};
--comp-tracker-tabmenu-radius: {base.radius.size-3};
--comp-tracker-tabmenu-h-padding: {base.radius.size-3};
--comp-tracker-tabmenu-v-padding: {base.radius.size-3};
--comp-tracker-bullet-fill-inner: {color.stone.50};
--comp-tracker-bullet-fill-outer: {color.turquoise.650};
--comp-tracker-bullet-fill-unselected: {color.stone.100};
--comp-tracker-bullet-gap: {base.gap.size-3};
--comp-tracker-slider-bg-weekly: {color.turquoise.50};
--comp-tracker-slider-bg-daily: {color.turquoise.25};
--comp-tracker-slider-border-weekly: {color.turquoise.650};
--comp-tracker-slider-border-daily: {color.stone.100};
--comp-tracker-slider-bar: {color.stone.100};
--comp-tracker-slider-radius: {base.radius.size-5};

  // ==========================================
  // Component - Chart
  // ==========================================
--comp-chart-medical-indicator-background: {color.turquoise.25};
--comp-chart-medical-indicator-slideup-background: {color.turquoise.25};
--comp-chart-medical-indicator-slideup-meal-background: {color.stone.transparent};

  // ==========================================
  // Component - Checkbox
  // ==========================================
--comp-checkbox-color-fill-pri-rest: {color.stone.00 white};
--comp-checkbox-color-stroke-pri-rest: {color.stone.100};
--comp-checkbox-color-fill-pri-active: {color.turquoise.25};
--comp-checkbox-color-stroke-pri-active: {color.turquoise.500-main};
--comp-checkbox-color-fill-pri-hover: {color.turquoise.50};
--comp-checkbox-color-fill-pri-press: {color.turquoise.200};
--comp-checkbox-color-fill-pri-disable: {color.stone.00 white};
--comp-checkbox-color-stroke-pri-disable: {color.stone.50};
--comp-checkbox-color-stroke-pri-hover: {color.turquoise.500-main};
--comp-checkbox-color-stroke-pri-press: {color.turquoise.500-main};
--comp-checkbox-radius: {base.radius.size-2};
--comp-checkbox-gap: {base.gap.size-5};
--comp-checkbox-title-gap: {base.gap.none};

  // ==========================================
  // Component - Radio
  // ==========================================
--comp-radio-radius: {base.radius.pill};
--comp-radio-gap: {base.gap.size-5};
--comp-radio-title-gap: {base.gap.none};

  // ==========================================
  // Component - Input
  // ==========================================
--comp-input-radius: {base.radius.size-3};
--comp-input-gap: {base.gap.size-5};
--comp-input-h-padding-xl: {base.padding.size-6};
--comp-input-v-padding-xl: {base.padding.size-6};
--comp-input-title-gap: {base.gap.size-5};
--comp-input-subtitle-gap: {base.gap.size-3};
--comp-input-helper-gap: {base.gap.size-7};
--comp-input-phone-gap: {base.radius.size-3};
--comp-input-phone-radius: {base.radius.size-3};
--comp-input-h-padding-m: {base.padding.size-6};
--comp-input-v-padding-m: {base.padding.size-4};
--comp-input-h-padding-s: {base.padding.size-4};
--comp-input-v-padding-s: {base.padding.size-2};

  // ==========================================
  // Component - Toggle
  // ==========================================
--comp-toggle-radius: {base.radius.pill};
--comp-toggle-gap: {base.gap.size-5};
--comp-toggle-title-gap: {base.gap.none};
--comp-toggle-h-padding: {base.padding.size-1};
--comp-toggle-v-padding: {base.padding.size-1};
--comp-toggle-handle-radius: {base.radius.pill};

  // ==========================================
  // Component - Header
  // ==========================================
--comp-header-title-h-padding: {base.padding.size-9};
--comp-header-title-gap: {base.gap.size-5};
--comp-header-title-v-padding-top-l: {base.padding.size-16};
--comp-header-title-v-padding-top-m: {base.padding.size-16};
--comp-header-title-v-padding-bottom: {base.radius.size-5};

  // ==========================================
  // Component - Modal
  // ==========================================
--comp-modal-h-padding: {base.padding.size-7};
--comp-modal-v-padding: {base.padding.size-7};
--comp-modal-radius: {base.radius.size-5};
--comp-modal-gap: {base.gap.size-9};
--comp-modal-gap-button: {base.gap.size-11};

}