:root {
  // ==========================================
  // 16px Scale
  // ==========================================
  --16px-scale-0percent: 0px;
  --16px-scale-6percent: 1px;
  --16px-scale-12percent: 2px;
  --16px-scale-37percent: 6px;
  --16px-scale-50percent: 8px;
  --16px-scale-75percent: 12px;
  --16px-scale-100percent: 16px;
  --16px-scale-125percent: 20px;
  --16px-scale-150percent: 24px;
  --16px-scale-175percent: 28px;
  --16px-scale-200percent: 32px;
  --16px-scale-225percent: 36px;
  --16px-scale-250percent: 40px;
  --16px-scale-300percent: 48px;
  --16px-scale-350percent: 56px;
  --16px-scale-400percent: 64px;
  --16px-scale-450percent: 72px;
  --16px-scale-500percent: 80px;
  --16px-scale-600percent: 96px;
  --16px-scale-700percent: 112px;
  --16px-scale-800percent: 128px;
  --16px-scale-900percent: 144px;
  --16px-scale-1000percent: 160px;
  --16px-scale-1100percent: 176px;
  --16px-scale-1200percent: 192px;
  --16px-scale-1300percent: 208px;
  --16px-scale-1400percent: 224px;
  --16px-scale-1500percent: 240px;
  --16px-scale-1600percent: 256px;
  --16px-scale-2000percent: 320px;
  --16px-scale-2400percent: 384px;
  --16px-scale-25percent: 4px;
  --16px-scale-62percent: 10px;

  // ==========================================
  // 8px Scale
  // ==========================================
  --8px-scale-0percent: 0px;
  --8px-scale-6percent: 0.5px;
  --8px-scale-12percent: 1px;
  --8px-scale-25percent: 2px;
  --8px-scale-37percent: 3px;
  --8px-scale-50percent: 4px;
  --8px-scale-75percent: 6px;
  --8px-scale-100percent: 8px;
  --8px-scale-125percent: 10px;
  --8px-scale-150percent: 12px;
  --8px-scale-175percent: 14px;
  --8px-scale-200percent: 16px;
  --8px-scale-225percent: 18px;
  --8px-scale-250percent: 20px;
  --8px-scale-300percent: 24px;
  --8px-scale-350percent: 28px;
  --8px-scale-400percent: 32px;
  --8px-scale-450percent: 36px;
  --8px-scale-500percent: 40px;
  --8px-scale-600percent: 48px;
  --8px-scale-700percent: 56px;
  --8px-scale-800percent: 64px;
  --8px-scale-900percent: 72px;
  --8px-scale-1000percent: 80px;
  --8px-scale-1100percent: 88px;
  --8px-scale-1200percent: 96px;
  --8px-scale-1300percent: 104px;
  --8px-scale-1400percent: 112px;
  --8px-scale-1500percent: 120px;
  --8px-scale-1600percent: 128px;
  --8px-scale-2000percent: 160px;
  --8px-scale-2400percent: 192px;
  --8px-scale-3percent: 0.25px;

}
