:root {
  // ==========================================
  // Font Family
  // ==========================================
  --font-family-DM-Sans: DM Sans;
  --font-family-Lato: Lato;
  --font-family-Inter: Inter;
  --font-family-Noto-Sans-Arabic: Noto Sans Arabic;

  // ==========================================
  // Font Weight
  // ==========================================
  --font-weight-thin-100: Thin;
  --font-weight-thin-100-italic: Thin Italic;
  --font-weight-medium-500: Medium;
  --font-weight-medium-500-italic: Medium Italic;
  --font-weight-semibold-600: SemiBold;
  --font-weight-semibold-600-italic: SemiBold Italic;
  --font-weight-regular-400: Regular;
  --font-weight-regular-400-italic: Medium Italic;
  --font-weight-extralight-200: ExtraLight;
  --font-weight-extralight-200-italic: ExtraLight Italic;
  --font-weight-light-300: Light;
  --font-weight-light-300-italic: Light Italic;
  --font-weight-bold-700: Bold;
  --font-weight-bold-700-italic: Bold Italic;
  --font-weight-extrabold-800: ExtraBold;
  --font-weight-extrabold-800-italic: ExtraBold Italic;
  --font-weight-black-900: Black;
  --font-weight-black-900-italic: Black Italic;

  // ==========================================
  // Font Lineheight
  // ==========================================
  --font-line-height-4: 4px;
  --font-line-height-8: 8px;
  --font-line-height-10: 10px;
  --font-line-height-11: 11px;
  --font-line-height-12: 12px;
  --font-line-height-14: 14px;
  --font-line-height-16: 16px;
  --font-line-height-18: 18px;
  --font-line-height-20: 20px;
  --font-line-height-24: 24px;
  --font-line-height-28: 28px;
  --font-line-height-30: 30px;
  --font-line-height-32: 32px;
  --font-line-height-36: 36px;
  --font-line-height-40: 40px;
  --font-line-height-44: 44px;
  --font-line-height-48: 48px;
  --font-line-height-52: 52px;
  --font-line-height-56: 56px;
  --font-line-height-60: 60px;
  --font-line-height-64: 64px;
  --font-line-height-68: 68px;
  --font-line-height-72: 72px;
  --font-line-height-76: 76px;
  --font-line-height-80: 80px;
  --font-line-height-84: 84px;
  --font-line-height-88: 88px;
  --font-line-height-90: 90px;
  --font-line-height-Auto: Auto;

  // ==========================================
  // Font Size
  // ==========================================
  --font-size-4: 4px;
  --font-size-8: 8px;
  --font-size-10: 10px;
  --font-size-11: 11px;
  --font-size-12: 12px;
  --font-size-14: 14px;
  --font-size-16: 16px;
  --font-size-18: 18px;
  --font-size-20: 20px;
  --font-size-24: 24px;
  --font-size-28: 28px;
  --font-size-30: 30px;
  --font-size-32: 32px;
  --font-size-36: 36px;
  --font-size-40: 40px;
  --font-size-44: 44px;
  --font-size-48: 48px;
  --font-size-52: 52px;
  --font-size-56: 56px;
  --font-size-60: 60px;
  --font-size-64: 64px;
  --font-size-68: 68px;
  --font-size-72: 72px;

  // ==========================================
  // Font Letterspacing
  // ==========================================
  --font-letter-spacing-none: 0;

  // ==========================================
  // Font Paragraphspacing
  // ==========================================
  --font-paragraph-spacing-4: 4px;
  --font-paragraph-spacing-8: 8px;
  --font-paragraph-spacing-10: 10px;
  --font-paragraph-spacing-11: 11px;
  --font-paragraph-spacing-12: 12px;
  --font-paragraph-spacing-14: 14px;
  --font-paragraph-spacing-16: 16px;
  --font-paragraph-spacing-18: 18px;
  --font-paragraph-spacing-20: 20px;
  --font-paragraph-spacing-24: 24px;
  --font-paragraph-spacing-28: 28px;
  --font-paragraph-spacing-30: 30px;
  --font-paragraph-spacing-32: 32px;
  --font-paragraph-spacing-36: 36px;
  --font-paragraph-spacing-40: 40px;
  --font-paragraph-spacing-44: 44px;
  --font-paragraph-spacing-48: 48px;
  --font-paragraph-spacing-52: 52px;
  --font-paragraph-spacing-56: 56px;
  --font-paragraph-spacing-60: 60px;
  --font-paragraph-spacing-64: 64px;
  --font-paragraph-spacing-68: 68px;
  --font-paragraph-spacing-72: 72px;
  --font-paragraph-spacing-76: 76px;
  --font-paragraph-spacing-80: 80px;
  --font-paragraph-spacing-84: 84px;
  --font-paragraph-spacing-88: 88px;
  --font-paragraph-spacing-90: 90px;

  // ==========================================
  // Font Paragraphindent
  // ==========================================
  --font-paragraph-indent-2: 2px;
  --font-paragraph-indent-4: 4px;
  --font-paragraph-indent-8: 8px;
  --font-paragraph-indent-10: 10px;
  --font-paragraph-indent-11: 11px;
  --font-paragraph-indent-12: 12px;
  --font-paragraph-indent-14: 14px;
  --font-paragraph-indent-16: 16px;
  --font-paragraph-indent-18: 18px;
  --font-paragraph-indent-20: 20px;
  --font-paragraph-indent-24: 24px;
  --font-paragraph-indent-none: 0px;

}
